/*
 * -------------------------------------------------
 *  Nextflow config file for processes options
 * -------------------------------------------------
 * Defines general paths for input files and
 * parameters for the FLORA workflow
 */

params {

    /* 
    General parameters 
    */
    // Help message
    help = false
    monochrome_logs = false
    name = false
    email = false
    email_on_fail = false
    hostnames = false
    
    /*
    Parameters for your own analysis
    */
    // Project name
    projectName = "AMOCYST"
    // Output directory to publish workflow results
    outdir = "${baseDir}/results/${projectName}"

    /*
    Outputs steps directory names in output directory
    */
    results_dirname = "02_final_results"

    /*
    Configuration of input data
    */
    rawdata = "${baseDir}/00_RawData/*_R{1,2}_001.fastq.gz"
}
